header
  .wrap
    markdown:
      # I'm building my dream app in *One Month*

    h2
      | And I'm writing 
      a href="http://leanpub.com/make-crap" a book
      | &nbsp;in 
      em one 
      | month 
      | to document the process

.wrap
  .cover 
    img src="images/Cover.png" width="446" height="414"

  .details 
    markdown:
      From August 19th to September 19th I'm going to be building my dream app.
      I'm taking the power of a graphics editor and the flexibility of the web
      and bringing them together in one canvas. I'll be documenting every I
      learn in a book. You can read more about the app at
      [SqircleApp.com](http://sqircleapp.com) and the book at
      [LeanPub](http://leanpub.com/make-crap)

    .calls-to-action
      .buttons
        a.button.blue href="http://leanpub/make-crap"
          | Get the 
          br 
          | book
          sup *

        a.button.yellow href="http://notes.oneapponebookonemonth.com"
          | Follow the 
          br 
          | blog

        a.button.blue href="http://twitter.com/k_2052"
          | Follow me on
          br
          | twitter

      small.price * Suggested price $25
  
  .why
    hr
    markdown:
      # Why?

      Because I cant finish things. I cant go beyond the idea phase.

      I want to make this app so badly. I have wanted to for years. I have the
      skills to make it, but not the skills to make it _happen_. Something
      always stops it.

      I say _something_ but I mean _person_, that person is _me_. I get stuck on
      making something perfect and never make.

      Maybe the mockup didn't convey what I wanted. Maybe the language wasn't right. Lua? LISP?

      Which LISP should I use? Clojure? Ewww that's Java. I'll go with Racket.
      Or maybe Chicken; that converts to C. I could use C and Vala and then it
      would be really fast. Then I could construct the UI bits in LISP. Or maybe
      QML? I could use QT, C++ and QML for the UI. Then it would cross-platform,
      that would be awesome.

      Wow, January went by fast. Oh shit, I got client work to do.

      Actually, you know what, Lua has pretty great GEGL bindings, I'd have to
      do them myself if I used Chicken. Yeah, I should with Lua for scripting.
      Then I could use Vala to avoid those dirty C bits.

      It never got made. 

      I'm done playing around. I'm done seeking perfection. I'm tired of staring
      at unfinished ideas and half-baked concepts. I'm tired of procrastinating.
      I'm fed up with not finishing. I'm going to make something. Now. Not
      later.
